<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Regression Suite">

    <!-- Scenario 1: Authentication and Verification Tests -->
    <test name="Login Scenario">
        <classes>
            <class name="com.saucedemo.tests.scenario1.LoginWithValidCredentialsTest"/>
        </classes>
    </test>

    <!-- Scenario 2: Inventory and Product Management Tests -->
    <test name="Home Page Scenario">
        <classes>
            <class name="com.saucedemo.tests.scenario2.HomePageTest"/>
        </classes>
    </test>

    <!-- Scenario 3: End-to-End Purchase and Cart Workflows -->
    <test name="Checkout Scenario">
        <classes>
            <class name="com.saucedemo.tests.scenario2.CheckOutTest"/>
        </classes>
    </test>

</suite>